
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header style="200px; background-color:aliceblue">
        <h2>This is header</h2>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer style="200px; background-color:aquamarine">
        <h2>This is footer</h2>
    </footer>
</body>
</html>
